.footer {
  background-color: var(--color-footer-bg);
  color: var(--color-text-inverse);
  padding: 4rem;
  text-align: center;
}

.footer p {
  margin: 1rem;
  color: var(--color-text-inverse);
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-links a {
  font-size: var(--font-size-300);
}

.footer-links a:hover {
  text-decoration: underline;
  color: var(--color-text-muted);
}
