.header {
  margin: 0;
  margin-top: 4rem;
  padding: min(5vw, 8rem);
  background-color: var(--color-primary);
}

.header p {
  font-size: var(--font-size-300);
}

.header-home {
  text-align: center;
}
