.button-link {
  padding: 0.5em 1em;
  background-color: var(--color-accent);
  color: var(--color-text-inverse);
  border: none;
  border-radius: 10px;
  font-size: var(--font-size-300);
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: var(--color-accent-hover);
  color: var(--color-text-inverse);
}
