.card-link-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: clamp(2rem, 4vw, 4rem);
  margin: 4rem;
}

.card-link {
  display: block;
  text-align: center;
  align-content: center;
  aspect-ratio: 1;
  padding: 1rem;
  color: var(--color-text-inverse);
  border-radius: 20px;
  background-color: var(--color-accent);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 1s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card-link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.6);
  background-color: var(--color-accent-hover);
  cursor: pointer;
}

.card-link h2 {
  color: var(--color-text-inverse);
}

.card-link p {
  color: var(--color-text-inverse);
  font-style: italic;
}
