:root {
  /* Color Variables */
  --main-color: #bc3e3e;
  --background-color: #a19292;
  --accent-color: #4f0000;
  --navbar-hover: #3e0808;
  --footer-bg: #333;
  --secondary-text-color: #ffffff;
  --white-hover: #cccccc;
  --accent-hover: #760000;
  --main-text-color: #000000;

  /* Font Variables */
  --font-family: Arial, sans-serif;
  --font-large: 5em;
  --font-medium: 3em;
  --font-small: 1.5em;
  --font-xsmall: 1em;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: var(--font-family);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/* ----- ----- ----- All Pages ----- ----- ----- */

.introduction {
  display: flex;
  flex-direction: column;
  padding: 5%;
  padding-left: 15%;
  margin-top: 2%;
  margin-bottom: 1%;
  background-color: var(--main-color);
  text-align: left;
}

.introduction h1 {
  font-size: var(--font-large);
  font-weight: bold;
}

.introduction p {
  font-size: var(--font-small);
  color: var(--main-text-color);
  line-height: 1.5;
  margin: 0;
}

/* Button Link */
.button-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: var(--font-small);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.button-link:hover {
  background-color: var(--accent-hover);
  cursor: pointer;
}

.button-back {
  position: absolute;
  top: -3em;
  right: 0;
}

.text-link {
  text-decoration: underline 4px;
  color: var(--accent-color);
  cursor: pointer;
}

.text-link:hover {
  text-decoration: underline 5px;
  color: var(--accent-hover);
}

.content {
  position: relative;
  margin-top: 6em;
  margin-bottom: 6em;
  margin-left: 20%;
  margin-right: 20%;
}

/* ----- ----- ----- Nav Bar Styles ----- ----- ----- */

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color);
  height: 5em;
  z-index: 1000;
}

.navbar .logo {
  height: 100%;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: var(--font-medium);
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: bold;
  height: 100%;
}

.navbar .logo a:hover {
  color: var(--white-hover);
}

.nav-links {
  margin: 0;
  list-style-type: none;
  display: flex;
  height: 100%;
}

.nav-links li {
  display: block;
  height: 100%;
  width: 11rem;
}

.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: var(--font-small);
  transition: background-color 0.3s ease;
  width: 100%;
  height: 100%;
}

.nav-links a:hover,
.nav-links a.active {
  background-color: var(--navbar-hover);
}

/* ----- ----- ----- Footer Styles ----- ----- ----- */

.footer {
  background-color: var(--footer-bg);
  color: var(--secondary-text-color);
  padding: 40px 0;
  text-align: center;
}

/* Social Links */
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer p {
  margin: 0;
  font-size: var(--font-xsmall);
}

.social-links {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-links a {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: var(--font-small);
}

.social-links a:hover {
  text-decoration: underline;
  color: var(--white-hover);
}

/* ----- ----- ----- Home Page ----- ----- ----- */

.home {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.home p {
  max-width: 60em;
}

.card-container {
  margin-top: 6em;
  margin-bottom: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5em;
}

.card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 25em;
  height: 20em;
  padding: 2em;
  text-decoration: none;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: var(--accent-color);
  transition: background-color 1s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card-link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.6);
  background-color: var(--accent-hover);
  cursor: pointer;
}

.card-link h1 {
  color: var(--secondary-text-color);
  margin: 0;
  font-size: var(--font-medium);
}

.card-link p {
  font-style: italic;
  text-align: center;
  color: var(--secondary-text-color);
  margin: 0;
  font-size: var(--font-small);
}

/* ----- ----- ----- About Me Page ----- ----- ----- */

.about-me h2 {
  font-size: var(--font-large);
}

.about-me h3 {
  font-size: var(--font-medium);
}

.about-me p {
  font-size: var(--font-small);
  line-height: 1.5;
}

.about-me li {
  font-size: var(--font-small);
  line-height: 1.5;
  margin-bottom: 0.5em;
}

/* ----- ----- ----- Projects Page ----- ----- ----- */

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  padding: 3em;
  background-color: var(--main-color);
  border-radius: 20px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
  color: var(--secondary-text-color);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--main-text-color);
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.project-header h2 {
  color: var(--secondary-text-color);
  font-size: var(--font-medium);
}

.project-header h2 a:hover {
  color: var(--white-hover);
}

.project-links {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.project-github {
  font-size: var(--font-small);
  color: var(--accent-color);
  text-decoration: none;
}

.project-github:hover {
  color: var(--accent-hover);
}

.project-card p {
  font-size: var(--font-small);
  color: var(--main-text-color);
  line-height: 1.5;
}

/* ------ ------ Project Details Page ------ ------ */

.project-details h2 {
  font-size: var(--font-medium);
}

.project-details p {
  font-size: var(--font-small);
  line-height: 1.5;
}

/* ----- ----- ----- Resume Page ----- ----- ----- */

.resume h1 {
  font-size: var(--font-medium);
  text-align: center;
}

.job {
  margin-bottom: 3%;
  padding: 2em;
  background-color: var(--main-color);
  border-radius: 20px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 1em;
}

.job-information h1 {
  font-size: var(--font-medium);
  color: var(--secondary-text-color);
}

.job-information h2 {
  font-size: var(--font-small);
  color: var(--accent-color);
}

.job-information h3 {
  font-size: var(--font-small);
  color: var(--accent-color);
  font-style: italic;
}

.job-description p {
  font-size: var(--font-small);
  color: var(--main-text-color);
  line-height: 1.5;
  margin-top: 1em;
}

.resume li {
  font-size: var(--font-small);
  line-height: 1.5;
  margin-bottom: 0.5em;
}

.resume-section {
  text-align: center;
  margin-top: 3em;
}

.resume-section h1 {
  font-size: var(--font-medium);
  margin-top: 2em;
}

.resume-section a button {
  padding: 10px 20px;
  font-size: var(--font-small);
  font-weight: bold;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.resume-section a button:hover {
  background-color: var(--accent-hover);
}

.resume-section p {
  font-size: var(--font-small);
  color: var(--main-text-color);
  margin-top: 1em;
}

iframe#resume-pdf {
  width: 100%;
  height: 1000px;
  border: none;
  margin-top: 1em;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

/* ----- ----- ----- Contact Page ----- ----- ----- */

.contact {
  width: 50%;
  margin: 6rem auto;
  padding: 2rem;
  border-radius: 8px;
}

.contact h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: var(--font-small);
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
  font-size: var(--font-small);
  resize: vertical;
  background-color: var(--secondary-text-color);
  color: var(--main-text-color);
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.contact p {
  color: green;
  font-size: var(--font-xsmall);
  margin-top: 1rem;
  text-align: center;
}

.contact p[style*="color: red"] {
  margin-top: -0.5rem;
  font-size: var(--font-xsmall);
}
