:root {
  /* Color Variables */
  --main-color: #bc3e3e;
  --background-color: #a19292;
  --accent-color: #4f0000;
  --navbar-color: #3e0301;
  --navbar-hover: #2f0505;
  --footer-bg: #333;
  --secondary-text-color: #ffffff;
  --white-hover: #cccccc;
  --accent-hover: #760000;
  --main-text-color: #000000;

  /* Font Variables */
  --font-family: Arial, sans-serif;
  --font-xlarge: 5rem;
  --font-large: 3.5rem;
  --font-medium: 2.5rem;
  --font-small: 1.5rem;
  --font-xsmall: 1rem;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  font-family: var(--font-family);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.main-content {
  min-height: 100vh;
}

/* ----- ----- ----- All Pages ----- ----- ----- */

.introduction {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 5%;
  padding-left: 15%;
  margin-top: 2%;
  margin-bottom: 1%;
  background-color: var(--main-color);
  text-align: left;
}

.introduction h1 {
  font-size: var(--font-xlarge);
  font-weight: bold;
}

.introduction p {
  font-size: var(--font-small);
  color: var(--main-text-color);
  line-height: 1.5;
  margin: 0;
}

/* CardLink Styles*/
.card-container {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 5rem;
}

.card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 25rem;
  height: 20rem;
  padding: 2rem;
  text-decoration: none;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: var(--accent-color);
  transition: background-color 1s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card-link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.6);
  background-color: var(--accent-hover);
  cursor: pointer;
}

.card-link h1 {
  color: var(--secondary-text-color);
  margin: 0;
  font-size: var(--font-large);
}

.card-link p {
  font-style: italic;
  text-align: center;
  color: var(--secondary-text-color);
  margin: 0;
  font-size: var(--font-small);
}

/* Button Link */
.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: var(--font-small);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 10px;
  transition: background-color 0.3s, border-color 0.3s;
}

.button-link:hover {
  background-color: var(--accent-hover);
  cursor: pointer;
}

.button-back {
  position: absolute;
  bottom: -3em;
  right: 20%;
}

.text-link {
  text-decoration: underline 4px;
  color: var(--accent-color);
  cursor: pointer;
}

.text-link:hover {
  text-decoration: underline 5px;
  color: var(--accent-hover);
}

.content {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem;
  margin-left: 20%;
  margin-right: 20%;
}

.content h1 {
  font-size: var(--font-xlarge);
}

.content h2 {
  font-size: var(--font-large);
}

.content h3 {
  font-size: var(--font-medium);
}

.content p {
  font-size: var(--font-small);
  line-height: 1.5;
}

.content li {
  font-size: var(--font-small);
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

/* ----- ----- ----- Nav Bar Styles ----- ----- ----- */

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-color);
  height: 5rem;
  z-index: 1000;
}

.navbar .logo {
  height: 100%;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: var(--font-large);
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: bold;
  height: 100%;
}

.navbar .logo a:hover {
  color: var(--white-hover);
}

/* Regular nav links */
.nav-links {
  margin: 0;
  list-style-type: none;
  display: flex;
  height: 100%;
}

.nav-links li {
  display: block;
  height: 100%;
  width: 11rem;
}

.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: var(--font-small);
  transition: background-color 0.3s ease;
  width: 100%;
  height: 100%;
}

.nav-links a:hover,
.nav-links a.active {
  background-color: var(--navbar-hover);
}

/* Hamburger button for small screens */
.hamburger {
  display: none;
  font-size: var(--font-large);
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--secondary-text-color);
  background: none;
  border: none;
  cursor: pointer;
}

/* Dropdown menu styling */
.nav-links.mobile {
  display: block;
  position: absolute;
  top: 5rem;
  right: 0;
  width: 100%;
}

.nav-links.mobile li {
  width: 100%;
}

.nav-links.mobile a {
  display: flex;
  width: 100%;
  text-align: center;
  color: var(--secondary-text-color);
  text-decoration: none;
  backdrop-filter: blur(15px); /* Blur effect */
  -webkit-backdrop-filter: blur(15px); /* For Safari */
  border-top: 1px solid var(--secondary-text-color); /* Light border */
  border-bottom: 1px solid var(--secondary-text-color); /* Light border */
  box-sizing: border-box;
}

.nav-links.mobile a:hover,
.nav-links.mobile a.active {
  background-color: rgba(255, 255, 255, 0.5); /* Light hover effect */
}

/* Responsive styles */
@media (max-width: 70rem) {
  .nav-links {
    display: none; /* Hide links initially */
  }

  .hamburger {
    display: block; /* Show hamburger button on smaller screens */
  }

  .nav-links.active {
    display: block; /* Show dropdown menu when active */
  }
}

/* ----- ----- ----- Footer Styles ----- ----- ----- */

.footer {
  background-color: var(--footer-bg);
  color: var(--secondary-text-color);
  padding: 4rem 0;
  text-align: center;
  width: 100%; /* Ensure the footer spans the full width */
}

/* Social Links */
.footer-content {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.footer p {
  margin: 0;
  font-size: var(--font-xsmall);
}

.social-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 1rem;
}

.social-links a {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: var(--font-small);
}

.social-links a:hover {
  text-decoration: underline;
  color: var(--white-hover);
}

/* ----- ----- ----- Home Page ----- ----- ----- */

.home-introduction {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  background-color: var(--main-color);
  text-align: center;
}

.home-introduction h1 {
  font-size: var(--font-xlarge);
  font-weight: bold;
}

.home-introduction p {
  font-size: var(--font-small);
  color: var(--main-text-color);
  line-height: 1.5;
  max-width: 60rem;
}

/* ----- ----- ----- About Me Page ----- ----- ----- */

.course-subheading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ----- ----- ----- Projects Page ----- ----- ----- */

.projects {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.project-card {
  padding: 3rem;
  background-color: var(--main-color);
  border-radius: 20px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
  color: var(--secondary-text-color);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-bottom: 2px solid var(--main-text-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.project-header h2 {
  color: var(--secondary-text-color);
  font-size: var(--font-medium);
}

.project-header h2 a:hover {
  color: var(--white-hover);
}

.project-links {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.project-card p {
  font-size: var(--font-small);
  color: var(--main-text-color);
  line-height: 1.5;
}

/* ------ ------ Project Details Page ------ ------ */

/* ----- ----- ----- Resume Page ----- ----- ----- */

.resume h1 {
  font-size: var(--font-large);
  text-align: center;
}

.job {
  margin-bottom: 3%;
  padding: 2rem;
  background-color: var(--main-color);
  border-radius: 20px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 1rem;
}

.job-information h1 {
  color: var(--secondary-text-color);
}

.job-information h2 {
  font-size: var(--font-medium);
  color: var(--accent-color);
}

.job-information h3 {
  font-size: var(--font-small);
  color: var(--accent-color);
  font-style: italic;
}

.resume-section {
  text-align: center;
  margin-top: 3rem;
}

.resume-section h1 {
  margin-top: 2rem;
}

.resume-section a button {
  padding: 10px 20px;
  font-size: var(--font-small);
  font-weight: bold;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.resume-section a button:hover {
  background-color: var(--accent-hover);
}

.resume-section p {
  font-size: var(--font-small);
  color: var(--main-text-color);
  margin-top: 1rem;
}

iframe#resume-pdf {
  width: 100%;
  height: 65rem;
  border: none;
  margin-top: 1rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

/* ----- ----- ----- Contact Page ----- ----- ----- */

.contact {
  width: 50%;
  margin: 6rem auto;
  padding: 2rem;
  border-radius: 8px;
}

.contact h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: var(--font-small);
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
  font-size: var(--font-small);
  resize: vertical;
  background-color: var(--secondary-text-color);
  color: var(--main-text-color);
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.contact p {
  color: green;
  font-size: var(--font-xsmall);
  margin-top: 1rem;
  text-align: center;
}

.contact p[style*="color: red"] {
  margin-top: -0.5rem;
  font-size: var(--font-xsmall);
}
