/* variables.css - CSS Custom Properties for global styles */

:root {
  /* Color Variables */
  --main-color: #bc3e3e;
  --background-color: #a19292;
  --accent-color: #4f0000;
  --navbar-color: #3e0301;
  --navbar-hover: #2f0505;
  --footer-bg: #333;
  --secondary-text-color: #ffffff;
  --white-hover: #cccccc;
  --accent-hover: #760000;
  --main-text-color: #000000;

  --font-family-base: Arial, sans-serif;
  --font-family-heading: Arial, sans-serif;

  /* scale for 1.2 */
  --font-size-1: 1rem;
  --font-size-2: 1.2rem;
  --font-size-3: 1.44rem;
  --font-size-4: 1.728rem;
  --font-size-5: 2.074rem;
  --font-size-6: 2.488rem;
}

@media screen and (min-width: 800px) {
  :root {
    /* scale for 1.33 */
    --font-size-1: 1rem;
    --font-size-2: 1.333rem;
    --font-size-3: 1.777rem;
    --font-size-4: 2.369rem;
    --font-size-5: 3.157rem;
    --font-size-6: 4.209rem;
  }
}
